
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
    <center>
        <h1>conditional statements</h1>
        <h2>If statement</h2>
        {% if a > 7 %}
            <h3>{{a}}</h3>
        {% endif %}
    </center>     --> 



    <!--
    <center>
        <h1>If-else</h1>
        {% if a > b %}
            <h3>a is greater than b--- {{a}}>{{b}}</h3>
        {% else %}
            <h3>b is greater than a--- {{b}}>{{a}}</h3>
        {% endif %}
    </center>   --> 
    



    <!--
    <center>
        <h1>If-elif else</h1>
        {% if a > b  and a > c %}
            <h3>a is greater than b,c</h3>
        {% elif b > c  %}
            <h3>b is greater than a,c</h3>
        {% else %}
            <h3>c is greater than a,b</h3>
        {% endif %}
    </center>  --> 



    <!--
    <center>
        <h1>nested if else</h1>
        {% if a > b %}
            {% if a > c %}
                <h3>a is greater</h3>
            {% else %}
                <h3>c is greater</h3>
            {% endif %}
        {% else %}
            {% if b > c %}
                <h3>b is greater</h3>
            {% else %}
                <h3>c is greater</h3>
            {% endif %}
        {% endif %}
    </center>  -->


 
     
    
</body>
</html>